<%= render"shared/errors", obj: @user %>

<%= form_for @user do|f|%>
<div class="form-group">
  <div class="control-label">
      <%= f.label :username %></br>
  </div>

  <div >
     <%= f.text_field :username , class: "form-control",placeholder: "Enter Username" %>
  </div>
</div>
<div class="form-group">
  <div class ="control-label">
      <%= f.label :email %></br>
  </div>
  <div>
      <%= f.email_field :email ,class: "form-control",placeholder: "Enter email" %>
  </div>
</div>

<div class="form-group">
  <div class ="control-label">
      <%= f.label :password %></br>
  </div>
  <div>
      <%= f.password_field :password ,class: "form-control",placeholder: "Enter Password" %>
  </div>
</div>

<div class="form-group">
  <div>
    <%= f.submit(@user.new_record? ? "signup" : "Update account",class: "btn btn-primary " ) %>
  </div>
</div>
<%end%>

<div align="center">
  [<%= link_to "Cancel request and return to Article listing",articles_path%>]
</div>